absl-py==2.0.0
aiohttp==3.8.5
aiosignal==1.3.1
anndata==0.10.3
annotated-types==0.6.0
array-api-compat==1.4
asciitree==0.3.3
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
backcall==0.2.0
blinker==1.7.0
bokeh==2.4.3
Bottleneck==1.3.5
Brotli==1.0.9
brotlipy==0.7.0
cached-property==1.5.2
cachetools==5.3.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
comm==0.1.4
contourpy==1.2.0
cryptography==41.0.3
cycler==0.12.1
cytoolz==0.12.2
dask==2023.4.1
dask-image==2023.8.1
debugpy==1.8.0
decorator==5.1.1
distributed==2023.4.1
docrep==0.3.2
entrypoints==0.4
exceptiongroup==1.1.3
executing==2.0.1
fastdist==1.1.6
fasteners==0.17.3
filelock==3.13.1
flatbuffers==23.5.26
fonttools==4.45.0
frozenlist==1.4.0
fsspec==2023.10.0
gast==0.4.0
get-annotations==0.1.2
google-auth==2.22.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.48.2
h5py==3.9.0
HeapDict==1.0.1
htsget==0.2.6
huggingface-hub==0.16.4
humanize==4.9.0
idna==3.4
igraph==0.10.8
imagecodecs==2023.1.23
imageio==2.31.5
importlib-metadata==6.8.0
importlib-resources==6.1.1
inflect==7.0.0
ipykernel==6.19.2
ipython==8.17.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jupyter_client==8.6.0
jupyter_core==5.5.0
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
lazy_loader==0.3
leidenalg==0.10.1
libclang==16.0.6
llvmlite==0.41.1
lmdb==1.4.1
locket==1.0.0
louvain==0.8.1
lz4==4.3.2
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
matplotlib-scalebar==0.8.1
mkl-service==2.4.0
mpmath==1.3.0
msgpack==1.0.6
multidict==6.0.4
munkres==1.1.4
muse-sc==0.0.8
natsort==8.4.0
nest-asyncio==1.5.8
networkx==3.2.1
numba==0.58.1
numcodecs==0.12.1
numexpr==2.8.7
numpy==1.24.3
oauthlib==3.2.2
omnipath==1.0.8
opencv-python==4.8.0.76
opt-einsum==3.3.0
packaging==23.2
palettable==3.3.3
pandas==2.1.3
parso==0.8.3
partd==1.4.1
patsy==0.5.3
PhenoGraph==1.5.7
pickleshare==0.7.5
Pillow==10.0.1
PIMS==0.6.1
pip==23.3.1
platformdirs==4.0.0
pooch==1.8.0
POT==0.9.1
prettytable==3.8.0
prompt-toolkit==3.0.41
protobuf==3.20.3
psutil==5.9.5
pure-eval==0.2.2
pyarrow==11.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.2.1
pydantic_core==2.6.1
pyega3==5.0.2
Pygments==2.17.2
PyJWT==2.8.0
pynndescent==0.5.11
pyOpenSSL==23.2.0
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.8.2
python-igraph==0.10.8
pytz==2023.3.post1
pyu2f==0.1.5
PyWavelets==1.4.1
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.1
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.0
rpy2==3.5.11
rsa==4.9
safetensors==0.3.3
scanpy==1.9.6
scikit-image==0.22.0
scikit-learn==1.3.2
scikit-misc==0.2.0rc1
scikit-network==0.31.0
scipy==1.11.3
seaborn==0.12.2
session-info==1.0.0
setuptools==68.2.2
simplegeneric==0.8.1
six==1.16.0
slicerator==1.1.0
sortedcontainers==2.4.0
SpaGCN==1.2.7
spatialign==1.0.1
squidpy==1.2.2
stack-data==0.6.2
statsmodels==0.14.0
stdlib-list==0.8.0
sympy==1.12
tblib==2.0.0
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
texttable==1.7.0
threadpoolctl==3.2.0
tifffile==2023.4.12
timm==0.9.8
tokenizers==0.13.3
toolz==0.12.0
torch==2.0.1
torch-cluster==1.6.1+pt20cu118
torch-geometric==2.3.1
torch-scatter==2.1.1+pt20cu118
torch-sparse==0.6.17+pt20cu118
torch-spline-conv==1.2.2+pt20cu118
torchaudio==2.0.2
torchtoolbox==0.1.8.2
torchvision==0.15.2
tornado==6.3.3
tqdm==4.66.1
traitlets==5.13.0
transformers==4.32.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==5.2
umap-learn==0.5.4
unicodedata2==15.1.0
urllib3==1.26.8
validators==0.22.0
wcwidth==0.2.12
Werkzeug==2.3.7
wheel==0.41.3
win-inet-pton==1.1.0
wrapt==1.16.0
xarray==2023.11.0
xyzservices==2023.10.1
yarl==1.9.2
zarr==2.16.1
zict==3.0.0
zipp==3.17.0
